body.p {
    --stripe: #cfd8dc;
    --bg: #e1e1e1;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
  }
  
  

h1 {
    color: #D96933;
    text-align: center;
    font-family:fantasy;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  
.button{
    background-color: #D96933;
    font-size: larger;
    border-style: solid;
    border-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
 #outside-tables {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

.homepage-hyperlink {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

 /* centering all the pictures of food on their respective page and add a border*/
 #bec, #pita, #banana{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;

    border-left: #D96933;
    border-right: #D96933;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
 }

 .description, .ingredients, .steps{
    color: #D96933;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .navi-bar {
     display: block;
     margin-left: auto;
     margin-block-end: auto;
     background-color: rgb(0, 0, 0, 0.3);
     overflow: hidden;
     padding: 6px;
 }

.pad {
    padding: 10px 10px;
    background-color:bisque;
    border: #D96933;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

